# House Monitor Config
#
CONFIG_ESP_WIFI_SSID="ssid"
CONFIG_ESP_WIFI_PASSWORD="ssid-password"
CONFIG_ESP_MAXIMUM_RETRY=5
CONFIG_I2C_POLL_PERIOD=5000
CONFIG_PWR_POLL_PERIOD=3000
CONFIG_I2C_CMD_TIMEOUT=200
CONFIG_MQTT_BROKER_URL="mqtt://user:password@host-ip:1883"
CONFIG_MQTT_CLIENT_ID="wxpwr"
CONFIG_MQTT_TOPIC_WEATHER="sensor/wx"
CONFIG_MQTT_TOPIC_POWER="sensor/power"
CONFIG_MQTT_TOPIC_HEARTBEAT="heartbeat"
CONFIG_MQTT_TOPIC_HEARTBEAT_PERIOD=5000
CONFIG_MQTT_LWT_TOPIC="lwt/wxpwr"
CONFIG_MQTT_LWT_MESSAGE="i r ded"
CONFIG_ATM90E32_LINE_FREQ=4485
CONFIG_ATM90E32_PGAGAIN=21
CONFIG_ATM90E32_TRANSFORMER_VOLTAGE_GAIN=37106
CONFIG_ATM90E32_CURRENT_GAIN=39473
# end of House Monitor Config
