# put here your custom config value
menu "House Monitor Config"
config ESP_WIFI_SSID
    string "WiFi SSID"
    default "myssid"
    help
	SSID (network name) for the example to connect to.

config ESP_WIFI_PASSWORD
    string "WiFi Password"
    default "mypassword"
    help
	WiFi password (WPA or WPA2) for the example to use.

config ESP_MAXIMUM_RETRY
	int "Max number of retry events"
	default 5
	help
	Maximum number of retry events

config I2C_POLL_PERIOD
    int "How often (in ms) should we request for data samples"
    default 5000
    help
	    Pressure, Temp, and RH sensor poll rate.  Faster will induce self-heating.

config I2C_CMD_TIMEOUT
    int "How long (ms) should we wait before assuming a I2C command failed"
    default 200
    help
	    Timeout, in ms, to wait before assuming a I2C command errored out

config MQTT_BROKER_URL
    string "MQTT Broker URL"
    default "mqtt://mqtt.eclipse.org"
    help
	    MQTT Dial string. Something like mqtt://username:password@mqtt.eclipse.org:1884

config MQTT_CLIENT_ID
    string "MQTT Client ID"
    default NULL
    help
	    Sets the mqtt client id.  Default is to use ESP_<last3ofmac>

config MQTT_TOPIC_WEATHER
    string "MQTT weather topic to publish to"
    default "sensor/wx"
    help
	    MQTT topic to publish weather sensor data to

config MQTT_TOPIC_POWER
    string "MQTT power topic to publish to"
    default "sensor/power"
    help
	    MQTT topic to publish power data to

config MQTT_LWT_TOPIC
    string "MQTT last will and testement"
    default "heartbeat/wxpwr"
    help
	    MQTT last will and testement topic

config MQTT_LWT_MESSAGE
    string "MQTT last will and testement message"
    default "i r ded"
    help
	    MQTT last will and testement message

endmenu